.links{
  background-color: #EAECF0;
  color: black;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;

  &:hover{
    background-color: darken($color: #EAECF0, $amount: 20);
  }
}

.footer{
  box-shadow: 0 -1px 1px -1px rgb(195, 191, 191);
  margin-top: 8rem;

  span{
    color: red;
    font-weight: 800;
  }

  @media (max-width:520px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    gap: 1.5rem;
    margin-left: 2rem;
  }
}

.contact{
  width: 60vw;
  margin-top: 4rem;

  @media (max-width:768px) {
    margin-top: 2rem;
    width: 80vw;
  }

  .form-label{
    font-weight: 500;
  }
}